<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
    <div class="row mt-3">
      <div class="col-md-6" m-auto>
        <form action="auth/google" method="GET">
          <button
            style="
              border-radius: 5px;
              border: 1px solid #4081ec;
              margin-top: 20px;
              background-color: #4081ec;
              color: white;
              padding: 5px;
            "
            type="submit"
          >
            <img
              style="padding: 5px; border-radius: 50px"
              src="https://e7.pngegg.com/pngimages/114/607/png-clipart-g-suite-pearl-river-middle-school-google-software-suite-email-sign-up-button-text-logo.png"
              alt="google"
              width="30px"
              height="30px"
            />Sign in with Google
          </button>
        </form>
      </div>
      <div class="col-md-6" m-auto>
        <form action="auth/facebook" method="GET">
          <button
            style="
              border-radius: 5px;
              border: 1px solid #4081ec;
              margin-top: 20px;
              background-color: #4081ec;
              color: white;
              padding: 5px;
            "
            type="submit"
          >
            <img
              style="padding: 5px; border-radius: 50px"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
              alt="google"
              width="30px"
              height="30px"
            />Sign in Facebook
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
